<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body style="padding:40px;">


    <table class="table table-bordered table-striped">
      <a href="/main" class="btn btn-default" >Back to Main</a>
      <% for (let entry in data) { %>
        <tr>
          <td><%= data[entry].name %></td>
          <td><%= data[entry].comment %></td>
          <td>
            <a href="/favourites/<%= data[entry].name %>/edit" class="btn btn-default" >Edit</a>
          </td>
          <td>
            <form action="/favourites/<%= data[entry].name %>?_method=DELETE" method="POST">
              <button class="btn btn-default">Delete</button>
            </form>
          </td>
        </tr>
        <%}%>
    </table>
  </body>
</html>
