<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Fail</title>

	<!-- CSS -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/form-elements.css"/>
	<link rel="stylesheet" href="/css/style.css"/>
</head>

<body>

<div class="top-content">

	<div class="inner-bg">
		<div class="container">

			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text">
					<h1><strong>Failed!</strong></h1>
					<div class="description">
						<p>You reach this page may because: </p>
						<p>1. You entered empty note.</p>
						<p>2. You edited your notes with a empty input.</p>
					</div>
					<a class="button" href="/main">Back to Main Page</a>
				</div>
			</div>

		</div>
	</div>

</div>
</body>
</html>